body {
    background-image: url("images/fondo2.jpg");
    width: 90%;
    margin: 0;
    padding: 0;
    background-size: cover;
    font-family: sans-serif;
    height: 100vh;
    background-position-x: center;
 

  
}
.div-style{
    margin-top : 5rem;
    padding : 3rem;
    border-radius: 20px;
    background-color: #92a8d1;

}
.text-box{
    border-radius: 1rem;
    margin-top : 1rem;
     
}
.button-submit{
    width: 50%;
    border-radius: rem;
    margin-top : 1rem
}
.main-label{
    margin: 1rem;

}

body {
    background-image: url("images/fondo2.jpg");
    width: 90%;
    margin: 0;
    padding: 0;
    background-size: cover;
    font-family: sans-serif;
    height: 100vh;
    background-position-x: center;
 

  
}
.div-style{
    margin-top : 5rem;
    padding : 3rem;
    border-radius: 20px;
    background-color: #92a8d1;

}
.text-box{
    border-radius: 1rem;
    margin-top : 1rem;
     
}
.button-submit{
    width: 50%;
    border-radius: 1rem;
    margin-top : 1rem
}
.main-label{
    margin: 1rem;

}